In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Series      1D
# DataFrames  2D
# Panels      3D
# 4D Panels   4D

In [3]:
a1=[2,4,6,8,10,12]

In [4]:
a1[-1]

12

In [5]:
s1=pd.Series(a1)
s1

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [6]:
s1[2]

6

In [7]:
type(s1)

pandas.core.series.Series

In [8]:
a2=(3,5,2,4,3)
s2=pd.Series(a2)
s2

0    3
1    5
2    2
3    4
4    3
dtype: int64

In [9]:
a3=np.array([3,4,5,6,7,8,9,2])
s3=pd.Series(a3)
s3

0    3
1    4
2    5
3    6
4    7
5    8
6    9
7    2
dtype: int64

In [10]:
a3=np.array([3,4,5,6,7,8,9,2])
s3=pd.Series(a3,index=['Alpha','Bravo','Charlie','Delta','Echo','Foxtrot','Golf','Hotel'])
s3

Alpha      3
Bravo      4
Charlie    5
Delta      6
Echo       7
Foxtrot    8
Golf       9
Hotel      2
dtype: int64

In [11]:
s3['Echo']

7

In [12]:
a4={'a':5,'c':9,'f':8,'d':6,'g':9,'e':2,'j':6}
s4=pd.Series(a4)
s4

a    5
c    9
f    8
d    6
g    9
e    2
j    6
dtype: int64

In [13]:
s4[0]

5

In [14]:
s4['a']

5

In [15]:
s4

a    5
c    9
f    8
d    6
g    9
e    2
j    6
dtype: int64

In [16]:
s4.index

Index(['a', 'c', 'f', 'd', 'g', 'e', 'j'], dtype='object')

In [17]:
s4.values

array([5, 9, 8, 6, 9, 2, 6])

In [18]:
# DataFrames: combination of multiple Series

In [19]:
cars={'brand':['Volvo','BMW','Merc','Jaquar','Porsche'],'sales':[23,45,32,12,18],'rating':[6.5,7.6,6.2,7.7,9.3]}

In [20]:
cars

{'brand': ['Volvo', 'BMW', 'Merc', 'Jaquar', 'Porsche'],
 'sales': [23, 45, 32, 12, 18],
 'rating': [6.5, 7.6, 6.2, 7.7, 9.3]}

In [21]:
d1=pd.DataFrame(cars)
d1

     brand  sales  rating
0    Volvo     23     6.5
1      BMW     45     7.6
2     Merc     32     6.2
3   Jaquar     12     7.7
4  Porsche     18     9.3

In [22]:
type(d1)

pandas.core.frame.DataFrame

In [23]:
d1.ndim

2

In [24]:
d1.shape

(5, 3)

In [25]:
d1.dtypes

brand      object
sales       int64
rating    float64
dtype: object

In [26]:
# Task
# generate an array of 30 random numbers between 35 and 50 in the shape(5,6). use seed as 12. name the array as b1.
# create a list of 6 subject names. Name the list as subjects.
# create a list of 5 student names. Name the list as students.

In [27]:
np.random.seed(12)
b1=np.random.randint(35,50,(5,6))
subjects=['Math','Computers','Sports','Chemistry','Botany','Zoology']
students=['Jacob','George','Mark','Luke','Kevin']
b1

array([[46, 46, 41, 48, 36, 37],
       [38, 38, 47, 35, 41, 36],
       [39, 40, 48, 44, 37, 46],
       [41, 45, 35, 40, 43, 47],
       [48, 37, 44, 38, 49, 39]])

In [28]:
marks=pd.DataFrame(b1,index=students,columns=subjects)
marks

        Math  Computers  Sports  Chemistry  Botany  Zoology
Jacob     46         46      41         48      36       37
George    38         38      47         35      41       36
Mark      39         40      48         44      37       46
Luke      41         45      35         40      43       47
Kevin     48         37      44         38      49       39

In [29]:
marks['Math']

Jacob     46
George    38
Mark      39
Luke      41
Kevin     48
Name: Math, dtype: int64

In [30]:
marks['Sports']

Jacob     41
George    47
Mark      48
Luke      35
Kevin     44
Name: Sports, dtype: int64

In [31]:
marks.index

Index(['Jacob', 'George', 'Mark', 'Luke', 'Kevin'], dtype='object')

In [32]:
marks.values

array([[46, 46, 41, 48, 36, 37],
       [38, 38, 47, 35, 41, 36],
       [39, 40, 48, 44, 37, 46],
       [41, 45, 35, 40, 43, 47],
       [48, 37, 44, 38, 49, 39]])

In [33]:
marks

        Math  Computers  Sports  Chemistry  Botany  Zoology
Jacob     46         46      41         48      36       37
George    38         38      47         35      41       36
Mark      39         40      48         44      37       46
Luke      41         45      35         40      43       47
Kevin     48         37      44         38      49       39

In [34]:
marks.describe()

            Math  Computers     Sports  Chemistry     Botany    Zoology
count   5.000000   5.000000   5.000000    5.00000   5.000000   5.000000
mean   42.400000  41.200000  43.000000   41.00000  41.200000  41.000000
std     4.393177   4.086563   5.244044    5.09902   5.215362   5.147815
min    38.000000  37.000000  35.000000   35.00000  36.000000  36.000000
25%    39.000000  38.000000  41.000000   38.00000  37.000000  37.000000
50%    41.000000  40.000000  44.000000   40.00000  41.000000  39.000000
75%    46.000000  45.000000  47.000000   44.00000  43.000000  46.000000
max    48.000000  46.000000  48.000000   48.00000  49.000000  47.000000

In [35]:
marks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Jacob to Kevin
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Math       5 non-null      int64
 1   Computers  5 non-null      int64
 2   Sports     5 non-null      int64
 3   Chemistry  5 non-null      int64
 4   Botany     5 non-null      int64
 5   Zoology    5 non-null      int64
dtypes: int64(6)
memory usage: 452.0+ bytes

In [36]:
marks

        Math  Computers  Sports  Chemistry  Botany  Zoology
Jacob     46         46      41         48      36       37
George    38         38      47         35      41       36
Mark      39         40      48         44      37       46
Luke      41         45      35         40      43       47
Kevin     48         37      44         38      49       39

In [37]:
marks.sum()

Math         212
Computers    206
Sports       215
Chemistry    205
Botany       206
Zoology      205
dtype: int64

In [38]:
marks.sum(axis=0)

Math         212
Computers    206
Sports       215
Chemistry    205
Botany       206
Zoology      205
dtype: int64

In [39]:
marks.sum(axis=1)

Jacob     254
George    235
Mark      254
Luke      251
Kevin     255
dtype: int64

In [40]:
marks['Total']=marks.sum(axis=1)

In [41]:
marks

        Math  Computers  Sports  Chemistry  Botany  Zoology  Total
Jacob     46         46      41         48      36       37    254
George    38         38      47         35      41       36    235
Mark      39         40      48         44      37       46    254
Luke      41         45      35         40      43       47    251
Kevin     48         37      44         38      49       39    255

In [42]:
marks['Total_marks']=marks['Math']+marks['Computers']+marks['Sports']+marks['Chemistry']+marks['Botany']+marks['Zoology']

In [43]:
marks

,Math,Computers,Sports,Chemistry,Botany,Zoology,Total,Total_marks
Jacob,46,46,41,48,36,37,254,254
George,38,38,47,35,41,36,235,235
Mark,39,40,48,44,37,46,254,254
Luke,41,45,35,40,43,47,251,251
Kevin,48,37,44,38,49,39,255,255

In [44]:
marks['Percentage']=round((marks['Total']/300)*100,2)

In [45]:
marks

,Math,Computers,Sports,Chemistry,Botany,Zoology,Total,Total_marks,Percentage
Jacob,46,46,41,48,36,37,254,254,84.67
George,38,38,47,35,41,36,235,235,78.33
Mark,39,40,48,44,37,46,254,254,84.67
Luke,41,45,35,40,43,47,251,251,83.67
Kevin,48,37,44,38,49,39,255,255,85.00

In [48]:
marks=marks.drop(columns=['Percentage'])

In [51]:
marks.drop(columns=['Total_marks'],inplace=True)

In [52]:
marks

        Math  Computers  Sports  Chemistry  Botany  Zoology  Total
Jacob     46         46      41         48      36       37    254
George    38         38      47         35      41       36    235
Mark      39         40      48         44      37       46    254
Luke      41         45      35         40      43       47    251
Kevin     48         37      44         38      49       39    255

In [53]:
marks.drop('Kevin')

        Math  Computers  Sports  Chemistry  Botany  Zoology  Total
Jacob     46         46      41         48      36       37    254
George    38         38      47         35      41       36    235
Mark      39         40      48         44      37       46    254
Luke      41         45      35         40      43       47    251

In [54]:
marks

        Math  Computers  Sports  Chemistry  Botany  Zoology  Total
Jacob     46         46      41         48      36       37    254
George    38         38      47         35      41       36    235
Mark      39         40      48         44      37       46    254
Luke      41         45      35         40      43       47    251
Kevin     48         37      44         38      49       39    255

In [57]:
df=pd.read_csv("/content/drive/MyDrive/Adverk/Adverk AI 2023 06 batch/Datasets/CarPrice_Assignment.csv")
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [ ]:
# pd.DataFrame()    # to create df from dict or arrays
# pd.read_csv()
# pd.read_excel()
# pd.read_html()
# pd.read_json()
# pd.read_table()
# pd.read_sql()

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [59]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [60]:
df.duplicated().sum()

0

In [61]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [62]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [63]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [66]:
df.head(2)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0

In [67]:
df.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [68]:
df.tail(3)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [69]:
df[2:10]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167

In [70]:
df[13:18]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
13,14,0,bmw x3,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105.0
14,15,1,bmw z4,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565.0
15,16,0,bmw x4,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760.0
16,17,0,bmw x5,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315.0
17,18,0,bmw x3,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880.0

In [73]:
df.sample()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
59,60,1,mazda 626,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845.0

In [84]:
df.sample(4,random_state=12)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
32,33,1,honda civic,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399.0
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.0
135,136,2,saab 99gle,gas,std,four,sedan,fwd,front,99.1,...,121,mpfi,3.54,3.07,9.3,110,5250,21,28,15510.0
124,125,3,plymouth duster,gas,turbo,two,hatchback,rwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,12764.0

In [85]:
df['CarName']

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
200             volvo 145e (sw)
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: CarName, Length: 205, dtype: object

In [87]:
df[['CarName','car_ID']]

                      CarName  car_ID
0          alfa-romero giulia       1
1         alfa-romero stelvio       2
2    alfa-romero Quadrifoglio       3
3                 audi 100 ls       4
4                  audi 100ls       5
..                        ...     ...
200           volvo 145e (sw)     201
201               volvo 144ea     202
202               volvo 244dl     203
203                 volvo 246     204
204               volvo 264gl     205

[205 rows x 2 columns]

In [88]:
df.iloc[5:12,1:5]

    symboling              CarName fueltype aspiration
5           2             audi fox      gas        std
6           1           audi 100ls      gas        std
7           1            audi 5000      gas        std
8           1            audi 4000      gas      turbo
9           0  audi 5000s (diesel)      gas      turbo
10          2             bmw 320i      gas        std
11          0             bmw 320i      gas        std

In [89]:
df.iloc[195:200,7:13]

    drivewheel enginelocation  wheelbase  carlength  carwidth  carheight
195        rwd          front      104.3      188.8      67.2       57.5
196        rwd          front      104.3      188.8      67.2       56.2
197        rwd          front      104.3      188.8      67.2       57.5
198        rwd          front      104.3      188.8      67.2       56.2
199        rwd          front      104.3      188.8      67.2       57.5

In [90]:
df.iloc[0:205,0:26]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [91]:
df.iloc[:,:]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [92]:
df.iloc[:,3:7]

    fueltype aspiration doornumber      carbody
0        gas        std        two  convertible
1        gas        std        two  convertible
2        gas        std        two    hatchback
3        gas        std       four        sedan
4        gas        std       four        sedan
..       ...        ...        ...          ...
200      gas        std       four        sedan
201      gas      turbo       four        sedan
202      gas        std       four        sedan
203   diesel      turbo       four        sedan
204      gas      turbo       four        sedan

[205 rows x 4 columns]

In [93]:
df.iloc[195:200,7:13]

    drivewheel enginelocation  wheelbase  carlength  carwidth  carheight
195        rwd          front      104.3      188.8      67.2       57.5
196        rwd          front      104.3      188.8      67.2       56.2
197        rwd          front      104.3      188.8      67.2       57.5
198        rwd          front      104.3      188.8      67.2       56.2
199        rwd          front      104.3      188.8      67.2       57.5

In [94]:
df.iloc[[3,7,10,12,5],[3,9,15,6]]

   fueltype  wheelbase cylindernumber carbody
3       gas       99.8           four   sedan
7       gas      105.8           five   wagon
10      gas      101.2           four   sedan
12      gas      101.2            six   sedan
5       gas       99.8           five   sedan

In [95]:
df.loc[[3,7,10,12,5],['fueltype','wheelbase','cylindernumber','carbody']]

   fueltype  wheelbase cylindernumber carbody
3       gas       99.8           four   sedan
7       gas      105.8           five   wagon
10      gas      101.2           four   sedan
12      gas      101.2            six   sedan
5       gas       99.8           five   sedan